<h1>CreationDetail#index</h1>
<p>Find me in app/views/creation_detail/index.html.erb</p>
<%= react_component 'Containers.Root', { creation:
	{
		id: @response['id'],
		title: @response['title'],
		created_by: @response['site_user']['user_id'],
		published_at: "2016-04-28T02:01:00.000Z",
		url: @response['creation_images'][1]['image']['url']
	}
} %>
