.workdetail-container {
  width: 900px;
}

// header
.workdetail-header-title {
  font-size: 1.4em;
  height:24px;
  font-weight: bold;
}

// control
.workdetail-control {
  text-align: right;
}

// response
.workdetail-responsebox {
  text-align: center;
  padding: 10px 0;
  margin-right: 0;
  margin-left: 0;
}
.workdetail-glyph {
  font-size: 40px;
  height:47px;
}
.workdetail-res-count {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding:0;
}
.workdetail-res-unit {
  position: relative;
  top: -5px;
  font-size: 0.8em;
  margin:0;
  padding:0;
}

// tags
.workdetail-tagbox {
  padding-bottom: 15px;
}
.workdetail-tag {
  margin-right:5px;
  margin-bottom:5px;
}

// Image
.workdetail-image {
  position:relative;
}
.workdetail-image-update {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  // background-color: rgba(255, 255, 255, 0.8);
  padding:10px;
}
.workdetail-image-delbtn {
  position:absolute;
  right:10px;
  top:10px;
}
.workdetail-image-drop {
  width:100%;
  height: 350px;
  border: 5px dotted #ddd;
  text-align: center;
  padding-top:40px;
}
.workdetail-image-camera {
  height:120px;
  background: url('/assets/icon-camera.png') center no-repeat;
}

// data
.workdetail-data-panel {
  margin-right: 0;
  margin-left: 0;
  padding:15px;
}
.workdetail-data-panel .table > tbody > tr > td {
  vertical-align: middle;
}
.workdetail-data-upload  {
  padding: 15px 15px 0 15px;
  border-top: 1px solid #ddd;
}
.workdetail-data-thumbnail-drop {
  width:100px;
  height: 60px;
  border: 2px dashed #888;
  background-color: #ccc;
}

// lisence
.workdetail-lisencebox img{
  float:left;
  width:100px;
  padding-right:15px;
}

// comment
.workdetail-commentbox {
  margin-right: 0;
  margin-left: 0;
  padding:15px;
}
