.workdetail-container {
  width: 900px;
}

// header
.workdetail-header-title {
  font-size: 1.4em;
  height:24px;
  font-weight: bold;
}

// data
.workdetail-data-panel {
  margin-right: 0;
  margin-left: 0;
  padding:15px;
}
.workdetail-data-panel .table > tbody > tr > td {
  vertical-align: middle;
}
.workdetail-data-thumbnail-drop {
  width:100px;
  height: 60px;
  border: 2px dashed #000;
  background-color: #ccc;
}

// control
.workdetail-control {
  text-align: right;
}

// response
.workdetail-responsebox {
  text-align: center;
  padding: 10px 0;
  margin-right: 0;
  margin-left: 0;
}
.workdetail-glyph {
  font-size: 40px;
  height:47px;
}
.workdetail-res-count {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding:0;
}
.workdetail-res-unit {
  position: relative;
  top: -5px;
  font-size: 0.8em;
  margin:0;
  padding:0;
}

// tags
.workdetail-tagbox {
  padding-bottom: 15px;
}
.workdetail-tag {
  margin-right:5px;
  margin-bottom:5px;
}

// lisence
.workdetail-lisencebox img{
  float:left;
  width:100px;
  padding-right:15px;
}

// comment
.workdetail-commentbox {
  margin-right: 0;
  margin-left: 0;
  padding:15px;
}
